* {
  box-sizing: border-box;
}
div{
  position: relative;
  float: left;
  width: 100%;
  height: 50%;
}
p {
  background-color: whitesmoke;
  box-shadow: 2px 1px #282c34;
  border-radius: 5px;
  width: 150px;
  height: 60px;
}
Footer{
  position: relative;
  float: bottom;
}


















.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
